{% extends 'layout.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-primary text-center">
        <div class="panel-heading">
            <h2 class="panel-title">{{ product.name }}</h2>
        </div>
        <div class="panel-body">
            <h4 class="panel-text">${{ product.price }}</h4>
            <p class="panel-text">{{ product.description }}</p>
            <a href="{% url 'products:list' %}">View All Products ></a>
            <a href="{% url 'home' %}">&#60; Back to Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}
