{% extends 'layout.html' %}

{% block title %}Our Products{% endblock %}

{% block content %}

{% for product in products %}
<div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">{{ product.name }}</h4>
            </div>
            <div class="panel-body">
                <p class="panel-text">{{ product.description }}</p>
                <h5 class="panel-text">${{ product.price }}</h5>
                <a href="{% url 'products:detail' pk=product.pk %}">More info ></a>
            </div>
        </div>
</div>
{% endfor %}

{% endblock %}
