{% extends 'layout.html' %}

{% block title %}
Welcome to Dogefood!
{% endblock %}

{% block content %}
<div class="container">
    <h1>My Pets</h1>
    <div class="row">
        {% for pet in pets %}
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ pet.name }}</h4>
                </div>
                <div class="panel-body">
                    <p class="panel-text">{{ pet.breed }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h3><a href="{% url 'registration:new_pet' %}">Register a new pet ></a></h3>
</div>
{% endblock %}

