{% extends 'layout.html' %}

{% block title %}
Welcome to Dogefood!
{% endblock %}

{% block content %}
<div class="container">
    <h1>My Pets</h1>
    <div class="row">
        {% for pet in pets %}
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">{{ pet.name }}</h4>
                </div>
                <div class="panel-body">
                    <p class="panel-text">{{ pet.breed }}</p>
                    {% if pet.weight < 30 %}
                        <a href="{% url 'products:detail' pk=1 %}">Suggested formula ></a>
                    {% elif pet.weight >= 30 and pet.weight < 50 %}
                        <a href="{% url 'products:detail' pk=2 %}">Suggested formula ></a>
                    {% else %}
                        <a href="{% url 'products:detail' pk=3 %}">Suggested formula ></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h3><a href="{% url 'registration:new_pet' %}">Register a New Pet ></a></h3>
    <h3><a href="{% url 'products:list' %}">See Our Products ></a></h3>
</div>
{% endblock %}

